body{
  background-color: #effcef;
}
  img{
    height: 250px;
  }
  hr{

    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: 0;
    width: 10%;
  }

h1{
color: #66BFBF;
}
h2{
  color: #66BFBF;
}
p{
  color: #6e5773;
  font-size: 18px;
}

td{
  color: #6e5773;
  font-size: 20px;
}
ul{
  color: #6e5773;
}
